/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Hero Section Area Style Start */
#hero {
    background-color: #2D25A0;
    padding: 50px 0;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero a {
    width: 150px;
    color: white;
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 0;
    display: inline-block;
    margin-top: 20px;
    box-shadow: inset 0 0 0 0 #f9e586;
    transition: ease-out 0.3s;
    font-weight: bold;
    text-align: center;
}

.hero a:hover {
    box-shadow: inset 150px 0 0 0 #f9e586;
    color: black;
}

.hero-title h1 {
    font-size: 64px;
    color: white;
    line-height: 80px;
    margin-right: 30px;
}

.hero-banner {
    margin-left: 60px;
}

.hero-banner img {
    width: 556px;
    height: 438px;
}

.hero-banner img:hover {
    z-index: 1;
    transition: ease .3s;
    transform: scale(1.05);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

/* Hero Section Area Style End */
/* Players Section Area Style Start */
.container {
    width: 1050px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.player {
    width: 300px;
    height: 426px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px 15px 33px 15px;
    border-radius: 5px;
    font-size: 16px;

}

.player-image img {
    width: 300px;
    height: 256px;
    border-radius: 5px;
}

.player-name {
    font-size: 26px;
    margin: 0;
}

/* Players Section Area Style End */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
}

footer .footer-image img {
    width: 483.87px;
    height: 110px;
}

footer span i {
    color: #969BAB;
    font-size: 20px;
    margin: 8px 8px;
}

/*******************************************************************************/
/***** Media Query Use *****/
/*******************************************************************************/

/* tablet Device */
@media only screen and (max-width:992px) {
    .container {
        width: 90%;
        margin: 20px auto;
    }

    .hero {
        flex-direction: column;
    }

    .hero-banner {
        margin-top: 60px;
        margin-left: 0;
    }

    .players {
        grid-template-columns: repeat(2, 1fr);
    }

    footer .footer-image img {
        width: 383.87px;
        height: 80px;
    }
}



/* Mobile Device */
@media only screen and (max-width:668px) {
    .container {
        width: 100%;
        justify-content: center;
    }

    .hero-title h1 {
        font-size: 36px;
        line-height: 50px;
        margin-right: 0;
    }

    .hero-banner {
        margin-top: 60px;
        margin-left: 0;
    }

    .hero-banner img {
        width: 300px;
        height: 240px;
    }

    .players {
        grid-template-columns: repeat(1, 1fr);
    }

    .player {
        width: 275px;
        height: 426px;
    }

    .player-image img {
        width: 275px;
        height: 231px;
    }

    footer .footer-image img {
        width: 126px;
        height: 30px;
    }
}